.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url("./Resources/prof_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2;
  margin-bottom: 2%;
}

.App-link {
  color: #09d3ac;
}

header{
  position: relative;
}

header > img {
  border-radius: 50%;
  height: 40vmin;
}

header > p, header > h1{
  text-shadow: 2px 2px black;
}

/* this was given by unsplash to give *
 * credit to the content creator.     */
.photoCredit{
  position: absolute;
  bottom: 5px;
  right: 8px;
}
.photoLink{
  background-color:black;
  color:white;
  text-decoration:none;
  padding:4px 6px;
  font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:1.2;
  display:inline-block;
  border-radius:3px;
}
.photoLink_span1{
  display:inline-block;
  padding:2px 3px
}
.photoLink_svg{
  height:12px;
  width:auto;
  position:relative;
  vertical-align:middle;
  top:-2px;
  fill:white
}
.photoLink_span2{
  display:inline-block;
  padding:2px 3px;
}

h1{
  background-color: rgba(0,0,0,0.2);
}

.container{
  border-radius: 15px;
  border-top : 1px solid;
  padding: 10px;
  box-shadow: 5px 10px gray;
  background-color: whitesmoke;
  margin-bottom: 15px;
}

.clickableText{
  color: blue;
}
.clickableText:hover{
  cursor: pointer;
}

#GithubProjContainer{
  position: relative;
  background-image: url("./Resources/prof_proj_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#GithubProjContainer > h1{
  text-shadow: 2px 2px black;
  color: whitesmoke;
}

#GithubProjSection{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 4%;
  row-gap: 10px;
  padding: 10px;
}

.projCardContainer{
  position: relative;
}

.projectLogo{
  width: 100%;
  position: center;
  margin: 0px;
  box-shadow: 2px 3px grey;
  border-left: solid black 1px;
}

.languages {
  color: whitesmoke;
  position: absolute;
  bottom: -5px;
  right: 8px;
  display: inline;
}

.language{
  background-color: black;
  border-radius: 8px;
  font-size: 3vh;
  padding: 4px;
}

.pagesLink > a{
  color: whitesmoke;
  text-decoration: none;
  width: 100%;
  margin: 0px;
}

.pagesLink{
  border-radius: 0px 0px 8px 8px;
  padding: 4px;
  color: whitesmoke;
  font-size: 4vh;
  background-color: black;
}

.modal{
  width: 90%;
  height: 95%;
}

#growthPlan {
  height: 90%;
  max-width: 100%;
}

.ImageSpaceError{
  display: none;
}

.StyleSwitchDiv{
  position: absolute;
  top: 10px;
  right: 8px;
  vertical-align: middle;
}

.CreditIcon{
  height: 20px;
}

@media screen and (max-width: 1000px) {
  #GithubProjSection{
    grid-template-columns: 45% 45%;
    column-gap: 5%;
    row-gap: 8%;
    padding: 10px;
  }
  .pagesLink{
    font-size: 3vh;
  }

  #growthPlan {
    display: none;
  }
  
  .ImageSpaceError{
    display: block;
    background-color: rgba(255, 50, 50, 0.2);
    border: solid 2px red;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .modal{
    height: auto;
    width: auto;
  }
}
